
body {
  margin: 0;
  text-align: center;
  background-color: #FEF7F7;
}

h1 {
  color: #fd9999;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

div {
  margin: 0;
}

a {
  margin-right: 8px;
}

table {
  text-align: center;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-container {
  opacity: .8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5%;
  padding-top: 2%;
  padding-right: 5%;
}

.introduction {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
}

.middle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}

.clicked {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.clicked.facebook {
  background-image: url("../images/social-media/facebook.png");
  background-size: contain;
}

.clicked.facebook:hover {
  background-image: url("../images/social-media/facebook-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.twitter {
  background-image: url("../images/social-media/twitter.png");
  background-size: contain;
}

.clicked.twitter:hover {
  background-image: url("../images/social-media/twitter-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.instagram {
  background-image: url("../images/social-media/instagram.png");
  background-size: contain;
}

.clicked.instagram:hover {
  background-image: url("../images/social-media/instagram-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.tiktok {
  background-image: url("../images/social-media/tik-tok.png");
  background-size: contain;
}

.clicked.tiktok:hover {
  background-image: url("../images/social-media/tik-tok-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.telegram {
  background-image: url("../images/social-media/telegram.png");
  background-size: contain;
}

.clicked.telegram:hover {
  background-image: url("../images/social-media/telegram-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.spotify {
  background-image: url("../images/social-media/spotify.png");
  background-size: contain;
}

.clicked.spotify:hover {
  background-image: url("../images/social-media/spotify-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.soundcloud {
  background-image: url("../images/social-media/sound-cloud.png");
  background-size: contain;
}

.clicked.soundcloud:hover {
  background-image: url("../images/social-media/sound-cloud-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.youtube {
  background-image: url("../images/social-media/youtube.png");
  background-size: contain;
}

.clicked.youtube:hover {
  background-image: url("../images/social-media/youtube-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.pinterest {
  background-image: url("../images/social-media/pinterest.png");
  background-size: contain;
}

.clicked.pinterest:hover {
  background-image: url("../images/social-media/pinterest-clicked.png");
  background-size: contain;
  text-decoration: none;
}
