
body {
  margin: 0;
  text-align: center;
  background-color: #FEF7F7;
}

h1 {
  color: #fd9999;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

p {
  color: #fd9999;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

div {
  margin: 0;
}

a {
  margin-right: 8px;
  text-decoration: none;
  color: #fd9999;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

table {
  text-align: center;
}

.body-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.header-container {
  opacity: .8;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5%;
  padding-top: 2%;
  padding-right: 5%;
}

.introduction {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
}

.middle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}

.links {
  display: flex;
  justify-content: center;
}

.selected {
  display: inline-block;
  width: 280px;
  height: 280px;
  padding-left: 4%;
  margin-top: 2%;
}

.clicked {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.selected.drawing {
  background-image: url("../images/main-page/svg/drawing.svg");
  background-size: contain;
  box-shadow: 10px 10px 5px 0px rgb(153 153 153), inset 0 0 0 0 rgb(153 153 153);
  transition: box-shadow 0.3s;
  border-radius: 50px;
}

.selected.drawing:hover {
  background-size: contain;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgb(153 153 153), inset 10px 10px 5px 0px rgb(153 153 153);
  transition: box-shadow 0.4s;
}

.selected.traveling {
  background-image: url("../images/main-page/svg/traveling.svg");
  background-size: contain;
  box-shadow: 10px 10px 5px 0px rgb(153 153 153), inset 0 0 0 0 rgb(153 153 153);
  transition: box-shadow 0.3s;
  border-radius: 50px;
}

.selected.traveling:hover {
  background-size: contain;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgb(153 153 153), inset 10px 10px 5px 0px rgb(153 153 153);
  transition: box-shadow 0.4s;
}

.selected.music {
  background-image: url("../images/main-page/svg/music.svg");
  background-size: contain;
  box-shadow: 10px 10px 5px 0px rgb(153 153 153), inset 0 0 0 0 rgb(153 153 153);
  transition: box-shadow 0.3s;
  border-radius: 50px;
}

.selected.music:hover {
  background-size: contain;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgb(153 153 153), inset 10px 10px 5px 0px rgb(153 153 153);
  transition: box-shadow 0.4s;
}

.selected.goals {
  background-image: url("../images/main-page/svg/goals.svg");
  background-size: contain;
  box-shadow: 10px 10px 5px 0px rgb(153 153 153), inset 0 0 0 0 rgb(153 153 153);
  transition: box-shadow 0.3s;
  border-radius: 50px;
}

.selected.goals:hover {
  background-size: contain;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgb(153 153 153), inset 10px 10px 5px 0px rgb(153 153 153);
  transition: box-shadow 0.4s;
}

.selected.reading {
  background-image: url("../images/main-page/svg/reading.svg");
  background-size: contain;
  box-shadow: 10px 10px 5px 0px rgb(153 153 153), inset 0 0 0 0 rgb(153 153 153);
  transition: box-shadow 0.3s;
  border-radius: 50px;
}

.selected.reading:hover {
  background-size: contain;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgb(153 153 153), inset 10px 10px 5px 0px rgb(153 153 153);
  transition: box-shadow 0.4s;
}

.selected.writing {
  background-image: url("../images/main-page/svg/writing.svg");
  background-size: contain;
  box-shadow: 10px 10px 5px 0px rgb(153 153 153), inset 0 0 0 0 rgb(153 153 153);
  transition: box-shadow 0.3s;
  border-radius: 50px;
}

.selected.goals {
  background-image: url("../images/main-page/svg/goals.svg");
  background-size: contain;
  box-shadow: 10px 10px 5px 0px rgb(153 153 153), inset 0 0 0 0 rgb(153 153 153);
  transition: box-shadow 0.3s;
  border-radius: 50px;
}

.selected.achievements {
  background-image: url("../images/main-page/svg/achievements.svg");
  background-size: contain;
  box-shadow: 10px 10px 5px 0px rgb(153 153 153), inset 0 0 0 0 rgb(153 153 153);
  transition: box-shadow 0.3s;
  border-radius: 50px;
}

.selected.achievements:hover {
  background-size: contain;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgb(153 153 153), inset 10px 10px 5px 0px rgb(153 153 153);
  transition: box-shadow 0.4s;
}

.selected.goals:hover {
  background-size: contain;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgb(153 153 153), inset 10px 10px 5px 0px rgb(153 153 153);
  transition: box-shadow 0.4s;
}

.selected.writing:hover {
  background-size: contain;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgb(153 153 153), inset 10px 10px 5px 0px rgb(153 153 153);
  transition: box-shadow 0.4s;
}

.selected.work-and-study {
  background-image: url("../images/main-page/svg/work-and-study.svg");
  background-size: contain;
  box-shadow: 10px 10px 5px 0px rgb(153 153 153), inset 0 0 0 0 rgb(153 153 153);
  transition: box-shadow 0.3s;
  border-radius: 50px;
}

.selected.work-and-study:hover {
  background-size: contain;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgb(153 153 153), inset 10px 10px 5px 0px rgb(153 153 153);
  transition: box-shadow 0.4s;
}

.selected.picture1 {
  background-image: url("../images/picture/picture1.svg");
  background-size: contain;
  box-shadow: 10px 10px 5px 0px rgb(153 153 153), inset 0 0 0 0 rgb(153 153 153);
  transition: box-shadow 0.3s;
  border-radius: 50px;
}

.selected.picture1:hover {
  background-size: contain;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgb(153 153 153), inset 10px 10px 5px 0px rgb(153 153 153);
  transition: box-shadow 0.4s;
}

.selected.picture2 {
  background-image: url("../images/picture/picture2.svg");
  background-size: contain;
  box-shadow: 10px 10px 5px 0px rgb(153 153 153), inset 0 0 0 0 rgb(153 153 153);
  transition: box-shadow 0.3s;
  border-radius: 50px;
}

.selected.picture2:hover {
  background-size: contain;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgb(153 153 153), inset 10px 10px 5px 0px rgb(153 153 153);
  transition: box-shadow 0.4s;
}

.selected.picture3 {
  background-image: url("../images/picture/picture3.svg");
  background-size: contain;
  box-shadow: 10px 10px 5px 0px rgb(153 153 153), inset 0 0 0 0 rgb(153 153 153);
  transition: box-shadow 0.3s;
  border-radius: 50px;
}

.selected.picture3:hover {
  background-size: contain;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgb(153 153 153), inset 10px 10px 5px 0px rgb(153 153 153);
  transition: box-shadow 0.4s;
}

.clicked.liberbee {
  background-image: url("../images/social-media/liberbee.png");
  background-size: contain;
}

.clicked.liberbee:hover {
  background-image: url("../images/social-media/liberbee-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.goodreads {
  background-image: url("../images/social-media/goodreads.png");
  background-size: contain;
}

.clicked.goodreads:hover {
  background-image: url("../images/social-media/goodreads-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.medium {
  background-image: url("../images/social-media/medium.png");
  background-size: contain;
}

.clicked.medium:hover {
  background-image: url("../images/social-media/medium-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.figma {
  background-image: url("../images/social-media/figma.png");
  background-size: contain;
}

.clicked.figma:hover {
  background-image: url("../images/social-media/figma-clicked.png");
  background-size: contain;
  text-decoration: none;
}


.clicked.notion {
  background-image: url("../images/social-media/notion.png");
  background-size: contain;
}

.clicked.notion:hover {
  background-image: url("../images/social-media/notion-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.github {
  background-image: url("../images/social-media/github.png");
  background-size: contain;
}

.clicked.github:hover {
  background-image: url("../images/social-media/github-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.linkedin {
  background-image: url("../images/social-media/linkedin.png");
  background-size: contain;
}

.clicked.linkedin:hover {
  background-image: url("../images/social-media/linkedin-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.facebook {
  background-image: url("../images/social-media/facebook.png");
  background-size: contain;
}

.clicked.facebook:hover {
  background-image: url("../images/social-media/facebook-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.twitter {
  background-image: url("../images/social-media/twitter.png");
  background-size: contain;
}

.clicked.twitter:hover {
  background-image: url("../images/social-media/twitter-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.instagram {
  background-image: url("../images/social-media/instagram.png");
  background-size: contain;
}

.clicked.instagram:hover {
  background-image: url("../images/social-media/instagram-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.tiktok {
  background-image: url("../images/social-media/tik-tok.png");
  background-size: contain;
}

.clicked.tiktok:hover {
  background-image: url("../images/social-media/tik-tok-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.telegram {
  background-image: url("../images/social-media/telegram.png");
  background-size: contain;
}

.clicked.telegram:hover {
  background-image: url("../images/social-media/telegram-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.spotify {
  background-image: url("../images/social-media/spotify.png");
  background-size: contain;
}

.clicked.spotify:hover {
  background-image: url("../images/social-media/spotify-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.soundcloud {
  background-image: url("../images/social-media/sound-cloud.png");
  background-size: contain;
}

.clicked.soundcloud:hover {
  background-image: url("../images/social-media/sound-cloud-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.youtube {
  background-image: url("../images/social-media/youtube.png");
  background-size: contain;
}

.clicked.youtube:hover {
  background-image: url("../images/social-media/youtube-clicked.png");
  background-size: contain;
  text-decoration: none;
}

.clicked.pinterest {
  background-image: url("../images/social-media/pinterest.png");
  background-size: contain;
}

.clicked.pinterest:hover {
  background-image: url("../images/social-media/pinterest-clicked.png");
  background-size: contain;
  text-decoration: none;
}

@media screen and (max-width:1024px) {
  .selected {
    width: 500px;
    height: 500px;
  }
}
